[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[v3_req] 
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[req_distinguished_name]
commonName_default = xxx.lab
organizationName_default = XXX
organizationalUnitName_default = Tech
localityName_default = 合肥市
stateOrProvinceName_default = 安徽省
countryName_default = CN
emailAddress_default = xxx@xxx.com

countryName = Country Name (2 letter code)
stateOrProvinceName = State or Province Name (full name)
localityName = Locality Name (eg, city)
organizationalUnitName	= Organizational Unit Name (eg, section)
commonName = Common Name (eg, YOUR name)
commonName_max	= 64
emailAddress = Email Address
emailAddress_max = 40

[alt_names]
DNS.1 = guxy.lab
DNS.2 = *.guxy.lab
DNS.3 = xxx.com


