.tdn:hover{text-decoration:none}
.fl{display:inline;float:left}
.fr{display:inline;float:right}
.fl1{float:left}
.fr1{float:right}
.db{display:block}
.di{display:inline-block}
.din{display:inline}
.dn{display:none}
.cl{clear:left}
.cr{clear:right}
.cb{clear:both}
.fwb{font-weight:bolder}
.fwn{font-weight:normal}
.tdn{text-decoration:none}
.tdu{text-decoration:underline}
.tdl{text-decoration:line-through}
.tac{text-align:center}
.tal{text-align:left}
.tar{text-align:right}
.vm{vertical-align:middle}
.vt{vertical-align:top}
.vb{vertical-align:bottom}
.vtt{vertical-align:text-top}
.vbt{vertical-align:text-bottom}
.cp{cursor:pointer}
.re{position:relative}
.ov{overflow:hidden;zoom:1}
.zo{zoom:1}
.wsn{white-space:nowrap}
.wwb{word-wrap:break-word;word-break:normal}
.cf{zoom:1}
.cf:after{content:'.';visibility:hidden;clear:both;display:block; height:0}
.eq{margin-bottom:-30000px;padding-bottom:30000px}
/*--- extension ---*/
.dib{display:inline-block;*display:inline;zoom:1}
.dit{display:table-cell;width:8000px;*width:auto;zoom:1}
.fl_1 li,.fl_1 dl{display:inline;float:left}
.fl_2 li,.fl_2 dl{float:left}
.fl_dib{letter-spacing:-4px;font-size:0}
.fl_dib li,.fl_dib dl{display:inline-block;*display:inline;zoom:1;letter-spacing:0;font-size:12px;vertical-align:top}
.fl_dib_1 li,.fl_dib_1 dl{display:inline}
.bnt{border-top:none}
.bnb{border-bottom:none}
.bnl{border-left:none}
.bnr{border-right:none}
.ti{text-indent:2em}
.ti99{text-indent: -9999px}
/*--- basic Variable ---*/
.lh1{line-height:18px}
.lh2{line-height:20px}
.lh3{line-height:22px}
.lh4{line-height:24px}
.lh5{line-height:26px}
.lh6{line-height:28px}
.lh7{line-height:30px}
.lh8{line-height:32px}
.lh9{line-height:34px}
.lh10{line-height:36px}
.lh14{line-height:14px}
.lh15{line-height:15px}
.lh16{line-height:16px}
.lh17{line-height:17px}
.lh18{line-height:18px}
.lh19{line-height:19px}
.lh20{line-height:20px}
.lh21{line-height:21px}
.lh22{line-height:22px}
.lh23{line-height:23px}
.lh24{line-height:24px}
.lh25{line-height:25px}
.lh26{line-height:26px}
.lh27{line-height:27px}
.lh28{line-height:28px}
.lh29{line-height:29px}
.lh30{line-height:30px}
.lh31{line-height:31px}
.lh32{line-height:32px}
.lh33{line-height:33px}
.lh34{line-height:34px}
.lh48{line-height:48px}

.h14{height:14px}
.h15{height:15px}
.h16{height:16px}
.h17{height:17px}
.h18{height:18px}
.h19{height:19px}
.h20{height:20px}
.h21{height:21px}
.h22{height:22px}
.h23{height:23px}
.h24{height:24px}
.h25{height:25px}
.h26{height:26px}
.h27{height:27px}
.h28{height:28px}
.h29{height:29px}
.h30{height:30px}
.mo{font-family:Simsun, "宋体", serif}
.fa1{font-family:SimHei,"黑体", serif}
.ft{font-family:Tahoma, serif}
.fv{font-family:Verdana, serif}
.fy{font-family:Microsoft YaHei,SimHei, serif}
.ls3{letter-spacing:-3px}
.ls4{letter-spacing:-4px}
.ls5{letter-spacing:-5px}
.ls6{letter-spacing:-6px}
.ls0{letter-spacing:0;font-size:12px}
.fz0{font-size:0}
.fz12{font-size:12px}
.fz13{font-size:13px}
.fz14{font-size:14px}
.fz20{font-size:20px}
.fz16{font-size:16px}
.fz18{font-size:18px}
.fz21{font-size:21px}
.fz22{font-size:22px}
.fz24{font-size:24px}
.fz26{font-size:26px}
.pa1{padding:1px}
.pa5{padding:5px}
.pa10{padding:10px}
.pa15{padding:15px}
.pa20{padding:20px}
.pa25{padding:25px}
.pa30{padding:30px}
.mar1{margin-right:10px;margin-left:10px}
.mar2{margin-right:5px;margin-left:5px}
.mar3{margin-right:20px;margin-left:20px}
.mar4{margin-right:30px;margin-left:30px}
.mar5{margin-right:15px;margin-left:15px}
.mar6{margin-right:25px;margin-left:25px}
.mar11{margin-right:1px;margin-left:1px}
.mar_auto{margin-right:auto;margin-left:auto}
.mt1{margin-top:1px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt13{margin-top:13px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt25{margin-top:25px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.ml3{margin-left:3px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml3_ie{_margin-left:-3px}
.ml10_ie{margin-left:10px;_margin-left:7px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml35{margin-left:35px}
.mr3_ie{_margin-right:-3px}
.mr5{margin-right:5px}
.mr5_ie{margin-right:5px; _margin-right:2px;}
.mr10{margin-right:10px}
.mr10_ie{margin-right:10px;_margin-right:7px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr25{margin-right:25px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb25{margin-bottom:25px}
.mb30{margin-bottom:30px}
.mb35{margin-bottom:35px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb25{padding-bottom:25px}
.pb30{padding-bottom:30px}
.pl0{padding-left:0px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pr0{padding-right:0px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr25{padding-right:25px}
.pr30{padding-right:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt25{padding-top:25px}
.pt30{padding-top:30px}
.cor_1{color:#666}
.cor_2{color:#999}
.cor_3{color:#333}